*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.cards{
    display: flex;
    width: 50%;
    padding: 50px;

    .card{
        background-color: #0090ff;
        color: white;
        width: 300px;
        height: 350px;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;

        transition: all .3s ease;
        box-shadow: -3px 0 10px rgba(0,0,0,.3), -4px 0 10px rgba(0,0,0,.2), -5px 0 10px rgba(0,0,0,.1);

        &:hover{
            margin-right: 80px;
            transform: rotate(3deg) translateY(-15px);
        }

        &[class*="element"]{
            margin-left: -100px;
        }

        a{
            color: yellow;
            text-decoration: none;
            font-weight: bold;

            &:hover{
                color: lightyellow;
            }
        }

        .header{
            flex: 1;

            .date{
                padding: 10px 0;
            }

            .title{
                font-size: 28px;
            }
        }

        .footer{
            .author a{
                display: flex;
                align-items: center;
                gap: 10px;
            }

            img{
                width: 48px;
                border-radius: 50%;
            }
        }
    }

    .element-1:hover,
    .element-2:hover{
        margin-left: -130px;
    }
}